<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-2.0.xsd">
	
	<bean id="projectManageService" class="com.pmsystem.service.impl.pj.ProjectManageServiceImpl">
		<property name="projectManageDAO" ref="projectManageDAO"/>
	</bean>
	<bean id="taskManageService" class="com.pmsystem.service.impl.pj.TaskManageServiceImpl">
		<property name="projectManageDAO" ref="projectManageDAO"/>
	</bean>
	<bean id="loginService" class="com.pmsystem.service.impl.pj.LoginServiceImpl">
		<property name="logindao" ref="loginDAO"/>
	</bean>
	<bean id="registerService" class="com.pmsystem.service.impl.pj.RegisterServiceImpl">
		<property name="registerDao" ref="registerDao"/>
	</bean>
</beans>