<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-2.0.xsd">
	
	<bean id = "projectManageAction" class = "com.pmsystem.action.pj.ProjectManageAction">
		<property name="projectManageService" ref="projectManageService"/>
	</bean>
	<bean id = "taskManageAction" class = "com.pmsystem.action.pj.TaskManageAction">
		<property name="taskManageService" ref="taskManageService"/>
	</bean>
	
	<bean id = "loginAction" class = "com.pmsystem.action.pj.LoginAction">
		<property name="loginService" ref="loginService"/>
	</bean>
	
	
	<bean id = "registerAction" class = "com.pmsystem.action.pj.RegisterAction">
		<property name="registerService" ref="registerService"/>
	</bean>
	
	<bean id = "staffManageAction" class = "com.pmsystem.action.pj.StaffManageAction">
		<property name="staffManageService" ref="staffManageService"/>
	</bean>
</beans>