.icon_btn_view{background: url(../resources/images/view.png) left top no-repeat!important;}
.icon_btn_freeze{background: url(../resources/images/freeze.png) left top no-repeat!important;}
.icon_btn_delete{background: url(../resources/images/cross.png) left top no-repeat!important;}
.icon_btn_add{background: url(../resources/images/add.png) left top no-repeat!important;}
.icon_btn_edit{background: url(../resources/images/edit.png) left top no-repeat!important;}